<form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Registro</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="email" formControlName="email" matInput type="email">
              <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="password" formControlName="password" matInput type="password">
              <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="registerForm.invalid" mat-raised-button type="submit">Registro</button>
      </mat-card-actions>
    </mat-card>
    
  </form>