
<div class="row around-xs middle-xs footer-row">
    <div class="col-xs-3">
        <div class="box">
            <ul>
                <li>
                    <a href="#">Sobre nosotros</a>
                </li>
                <li>
                    <a href="#">Politica de privacidad</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="box">
            <ul>
                <li>
                    <span>Contactanos</span>
                </li>
            </ul>
            <mat-form-field>
                <input matInput placeholder="Ingrese su correo" [formControl]="emailField" type="email">
            </mat-form-field>
            <div>
                <button mat-button [disabled]="emailField.touched && emailField.invalid" color="primary" (click)="sendEmail()">Enviar</button>
                <p *ngIf="emailField.touched && emailField.invalid">
                    El campo no es valido
                </p>
            </div>
        </div>
    </div>
</div>