.footer-row{
    width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
}
ul > li{
    color: black;
    list-style: none;
    a{
        text-decoration: none;
        color: black
    }
}