
<div class="row around-xs middle-xs footer-row">
    <div class="col-xs-3">
        <div class="box">
            <ul>
                <li>
                    <a href="#">Sobre nosotros</a>
                </li>
                <li>
                    <a href="#">Politica de privacidad</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="box">
            <ul>
                <li>
                    <span>Hola Ivan 2021</span>
                </li>
            </ul>
        </div>
    </div>
</div>