:host{
    display: block;
}
.crop-image{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    img{
        position: absolute;
        max-width: 100%;
        margin: auto;
    }

}